@inherits LayoutComponentBase
<CascadingAuthenticationState>
    <Affix>
        <NavMenu />
    </Affix>
    <div style="height: calc( 100vh - 48px );overflow-y:auto;padding-left:8px;padding-right:8px">
        @Body
    </div>
</CascadingAuthenticationState>
